
@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_Sailor.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center" style="font-family: 'B Yekan'">
                <h2 style="font-family: 'B Yekan'">درباره رز آبی</h2>
                <ol>
                    <li>@ViewData["Title"]</li>
                    <li><a href="Index">صفحه اصلی</a></li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about" dir="rtl" style="font-family: 'B Yekan'">
        <div class="container">
            <div class="row content">
                <div class="col-lg-6 text-right text-justify">
                    <h2 style="font-family: 'B Yekan'">خدمات طراحی رز آبی</h2>
                    <h3 style="font-family: 'B Koodak'">خدمات طراحی رز آبی با هدف طراحی گرافیک آنلاین از زمان ثبت تا زمان تحویل به مشتری</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 text-right text-justify">
                    <form method="post">
                        <div class="form-group">
                            <label class="control-label"> نام و نام خانوادگی :</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">پست الکترونیک : </label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">عنوان : </label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">عنوان : </label>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ارسال پیام" class="form-control btn btn-outline-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title text-right" dir="rtl">
                <h2>تیم رز آبی</h2>
                <p>تیم سخت کوش ما</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info text-right">
                            <h4>محمد متین عباسی</h4>
                            <span style="font-family: 'B Koodak'">طراح گرافیک</span>
                            <p style="font-family: 'B Kamran'">فتوشاپ/ایلاستریتور/ایندیزاین/برنامه نویس</p>
                            <div class="social">
                                <a href="#"><i class="ri-twitter-fill"></i></a>
                                <a href="#"><i class="ri-facebook-fill"></i></a>
                                <a href="#"><i class="ri-instagram-fill"></i></a>
                                <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info text-right">
                            <h4>محمد شیرازی</h4>
                            <span style="font-family: 'B Koodak'">طراح سایت</span>
                            <p style="font-family: 'B Kamran'">طراحی سایت/html-css-javascript</p>
                            <div class="social">
                                <a href="#"><i class="ri-twitter-fill"></i></a>
                                <a href="#"><i class="ri-facebook-fill"></i></a>
                                <a href="#"><i class="ri-instagram-fill"></i></a>
                                <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section -->
    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills" dir="rtl">
        <div class="container">

            <div class="section-title text-right">
                <h2>مهارتهای ما</h2>
                <p>مهارت ما را بررسی کنید</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Photoshop <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Indesign <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Illustrator <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- End Our Skills Section -->

</main>
<!-- End #main -->

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

